<form [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="row">

    <div class="form-group col-lg-12 mt-2">
      <div class="align-items-center justify-content-center d-flex">
        <i class="text-orange fas fa-search mr-2"></i>
        <input (input)="onPartySearch()" formControlName="searchQuery" type="text"
          class="form-control text-orange custom-search" placeholder="Search party....">
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card w-100">
        <div class="card-header bg-orange pt-2 pb-2">
          <p class="card-title text-white text-md">
            <i class="fas fa-check-double mr-2"></i> Account Type
          </p>
        </div>
        <div class="card-body px-4 pt-0 pb-0">
          <ng-container *ngFor="let type of account_types; let i = index;">
            <div class="custom-control custom-radio my-2 ">
              <input class="custom-control-input" type="radio" id="accountType{{i}}" [value]="type"
                formControlName="accountType" name="accountType">
              <label for="accountType{{i}}" class="custom-control-label text-muted">{{ type }}</label>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-orange pt-2 pb-2">
          <p class="card-title text-white">
            <i class="fas fa-highlighter mr-2"></i> Balance Mark
          </p>
        </div>
        <div class="card-body px-4 pt-0 pb-0">
          <ng-container *ngFor="let b of balanceMarks; let i = index;">
            <div class="custom-control custom-radio my-2 ">
              <input class="custom-control-input" type="radio" id="balanceMarkType{{i}}" [value]="b"
                formControlName="balanceMarkType" name="balanceMarkType">
              <label for="balanceMarkType{{i}}" class="custom-control-label text-muted">{{ b }}</label>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col bg-orange customBtn">
        <button [disabled]="!readEnabled" type="button" class="text-white p-2 btn" data-toggle="modal" data-target="#all-party-modal">
          <i class="text-white fas fa-history mr-2"></i><span class="text-white">Show History</span></button>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header bg-orange pt-2 pb-2">
          <p class="card-title text-white">
            <i class="fas fa-info-circle nav-icon pr-2 "></i>Party Information
          </p>
        </div>
        <div class="card-body px-4">
          <div class="row p-0 ">
            <div class="col">
              <div class="float-left">
                <p class="text-muted">Party No. : <span #partyNo id="partyNo" class="text-bold px-2">Loading..</span>
                  <input formControlName="partyNo" type="hidden" readonly class="form-control" placeholder="Party No">
                </p>
              </div>
            </div>
            <div class="col">
              <div class="float-right">
                <p class="text-muted ">Date : <span class="text-bold px-2"> {{ today | date: 'dd-MM-yyyy' }} </span></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input formControlName="partyName" type="text" class="form-control" id="inputEmail3"
                  placeholder="Enter your party name">
              </div>
            </div>
            <div class="col-lg-12">
              <p class="text-bold text-muted">Party Address Information</p>
              <div class="col p-0">
                <div class="form-group">
                  <input formControlName="address" class="form-control" type="text" placeholder="Enter party address">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-4">
                  <label class="text-muted">District</label>
                  <input formControlName="district" type="text" class="form-control" placeholder="Enter district name">
                </div>
                <div class="form-group col-lg-4">
                  <label class="text-muted">Pincode</label>
                  <input formControlName="codeNo" type="text" class="form-control"
                    placeholder="Enter landmark code No.">
                </div>
                <div class="form-group col-lg-4">
                  <label class="text-muted">Division</label>
                  <input formControlName="division" type="text" class="form-control" placeholder="Enter party division">
                </div>
                <div class="form-group col-lg-6">
                  <label class="text-muted">GST No.</label>
                  <input formControlName="gstNumber" type="text" class="form-control" placeholder="Enter party GST No.">
                </div>
                <div class="form-group col-lg-6">
                  <label class="text-muted">State Code</label>
                  <input formControlName="stateCode" type="text" class="form-control"
                    placeholder="Enter party state code">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group d-flex">
            <label class="text-muted">Opening Balance</label>
            <input formControlName="openingBalance" type="number" class="form-control"
              placeholder="Enter opening balance amount">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group d-flex">
            <label class="text-muted">Balance Mark</label>
            <input formControlName="balanceMarkAmount" type="number" class="form-control"
              placeholder="Enter balance mark">
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <div class="card">-->
<!--        <div class="p-2 d-flex justify-content-center align-items-center">-->
<!--          <button [disabled]="form.invalid || !writeEnabled" (click)="ngOnInit()" type="submit" class="btn btn-block m-1 text-white bg-gradient-orange">-->
<!--            <i class="fas fa-save nav-icon px-2"></i>Add Party-->
<!--          </button>-->
<!--          <button type="button" [disabled]="form.invalid  || !updateEnabled" (click)="updatePartyDetails()"-->
<!--            class="btn btn-block m-1 text-white bg-gradient-orange ">-->
<!--            <i class="fas fa-edit nav-icon px-2"></i>Update Party-->
<!--          </button>-->
<!--          <button type="button" [disabled]="form.invalid  || !deleteEnabled" data-toggle="modal" data-target="#delete-party-modal"-->
<!--            class="btn btn-block m-1 text-white bg-gradient-orange">-->
<!--            <i class="fas fa-trash-alt nav-icon px-2"></i>Delete Party-->
<!--          </button>-->
<!--          <a (click)="cancel()" class="btn btn-block m-1 text-white bg-gradient-orange">-->
<!--            <i class="fas fa-times nav-icon px-2"></i>Clear-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="fab-container">
    <button [disabled]="form.invalid || !writeEnabled" (click)="ngOnInit()" type="submit" mat-fab class="fab-button">
      <span class="text-xs"><i class="fas fa-plus mr-2"></i>Create Party</span>
    </button>

    <button type="button" [disabled]="form.invalid  || !updateEnabled" (click)="updatePartyDetails()" mat-fab class="fab-button">
      <span class="text-xs"><i class="fas fa-edit mr-2"></i>Update Party</span>
    </button>

    <button [disabled]="form.invalid  || !deleteEnabled" data-toggle="modal" data-target="#delete-party-modal" type="button" mat-fab class="fab-button">
      <span class="text-xs"><i class="fas fa-trash mr-2"></i>Delete Party</span>
    </button>

    <button (click)="cancel()" type="button" mat-fab class="fab-button">
      <span class="text-xs"><i class="fas fa-times mr-2"></i>Clear Form</span>
    </button>
  </div>
</form>


<div class="modal fade" id="all-party-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-orange">
        <p class="modal-title text-white">PARTY RECORDS</p>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <table id="example2" class="table table-bordered table-striped">
              <thead>
                <tr class="text-center align-items-center justify-content-center">
                  <th>Sr. No.</th>
                  <th>Party Code</th>
                  <th>Party Name</th>
                  <th>Party Address</th>
                  <th>GST No.</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use *ngFor to loop through filtered data with pagination -->
                <tr class="text-center align-items-center justify-content-center"
                  *ngFor="let party of filteredRoutes | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
                  <td width="100">{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                  <td>{{ party.partyNo }}</td>
                  <td>{{ party.partyName }}</td>
                  <td>{{ party.address }}</td>
                  <td>{{ party.gstNumber }}</td>
                </tr>
              </tbody>
            </table>
            <!-- Pagination controls -->
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" [ngClass]="{ 'show': isModalOpen }" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-orange">
        <p class="modal-title text-white">Party Information</p>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr class="text-center align-items-center justify-content-center">
              <th hidden>Select</th>
              <th>Sr. No.</th>
              <th>Party Code</th>
              <th>Party Name</th>
              <th>Party Address</th>
              <th>GST No.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let party of filteredData; let i = index;" (click)="selectRow(party)"
              [class.selected]="party === selectedItem">
              <td hidden>
                <input type="radio" name="selectedItem" [checked]="party === selectedItem" />
              </td>
              <td width="100">{{ i + 1 }}</td>
              <td>{{ party.partyNo }}</td>
              <td>{{ party.partyName }}</td>
              <td>{{ party.address }}</td>
              <td>{{ party.gstNumber }}</td>
            </tr>
            <tr *ngIf="filteredData.length === 0">
              <td colspan="3" class="text-center">No results found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="delete-party-modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header bg-orange">
        <p class="modal-title text-white">DELETE PARTY RECORD</p>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger text-center text-md">Do you want to delete the party record?</p>
      </div>
      <div class="modal-footer px-0">
        <div class="row ml-auto">
          <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="deleteParty()" class="btn bg-orange" data-dismiss="modal"><span
              class="text-white"><i class="fas fa-trash-alt mr-2"></i> Delete</span></button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<app-please-wait-modal #pleaseWait></app-please-wait-modal>
