.scrollable-card {
  height: 450px;
  overflow-y: auto;
}

.toast-clickable {
  cursor: pointer;
}

.toast-clickable:hover {
  opacity: 0.8;
}

.fab-container {
  position: fixed;
  bottom: 40px;  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;  /* Space between buttons */
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 20px;
}

.fab-button {
  background: #FD7E14;
  color: white;
  width: 120px;
  height: 35px;
}

.fab-button:hover {
  background: #E56A10;
}
