.w-30 {
  width: 30% !important;
}

.w-45 {
  width: 45% !important;
}


.custom-search {
  color: #FD7E14;
  border-color: #FD7E14;
}

.custom-search::placeholder {
  color: #FD7E14;
}


.fab-container {
  position: fixed;
  bottom: 60px;  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;  /* Space between buttons */
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 20px;
}

.fab-button {
  background: #FD7E14;
  color: white;
  width: 120px;
  height: 35px;
}


.fab-button:hover {
  background: #E56A10;
}
